# SERVER
NODE_ENV=test
HOST=localhost
PORT=3333   

# DATABASE
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sales_test
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=mysql
DEBUG=false

# AUTHENTICATE
JWT_SECRET="teste"
JWT_EXPIRES_IN="1h"